.sign-in-and-sign-up-wrapper {
  width: 100%;
  display: flex;
  border-top: 0.5px solid silver;
  margin: auto;
  
  .sign-in-and-sign-up {
      width: 100%;
      max-width: 900px;
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      margin: auto;
      
  }
}  
 
@media only screen and (max-width: 900px) {
  .sign-in-and-sign-up-wrapper {
    .sign-in-and-sign-up {
      display: inline-block;
      margin: auto;
    }

    .sign-up, .sign-in {
      margin: auto;
    }

    .sign-up {
      padding-top: 35px;
    }

  }
}

@media only screen and (max-width: 600px) {
  .sign-in-and-sign-up-wrapper {
    .sign-up, .sign-in {
      width: 300px !important;
      padding: 0 0 0 0;

      .buttons {
        display: inline-block;
        width: 300px;
      }
    }
  }
}