.footer-wrapper {
    padding: 20px 0;
    background-color: black;
    color: white;
    margin-top: 10px;
}

.footer {

    font-size: small;
    text-align: center;
    line-height: 1.2em;
    letter-spacing: 1pt;

    .copyright {
        padding: 15px;
    }

    .extra-info {
        font-style: italic;
        padding: 15px;
    }

}