.footer-wrapper {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    border-top: .5px solid silver;
    background-color: #f6f6f6;
    color: black;
    margin-top: 10px;
}

.footer {
    width: 90%;
    max-width: 500px;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    line-height: 2em;
    font-size: small;

    .section {
        max-width: 400px;
        width: 40%;

        .section-name {
            font-weight: bold;
            letter-spacing: .5px;
        }

    }

}

.copyright {
    display: block;
    padding-top: 30px;
    font-weight: bold;
    font-size: small;
    letter-spacing: 1.25px;
}