.checkout-outer {
  width: 100%;
  border-top: 0.5px solid silver;
  padding: 5px 5px;
}

.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid silver;
    text-transform: capitalize;

    .header-image {
      width: 23%;
    }

    .header-name {
      width: 30%;
    }

    .header-price, .header-quantity {
      width: 22%;
    }

    .header-remove {
      width: 4%;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 26px;
    padding-bottom: 20px;
  }

  button {
    margin-left: auto;
    
  }

  .test-warning {
    text-align: right;
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
  }
}


@media only screen and (max-width: 800px) {
  .checkout-page {
    width: 100%;
  }
}

