

.header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .store-name-logo {
    display: inline-flex;
    margin: 15px;
    
    .store-name {
      font-size: 30px;
      padding-left: 20px;
      color:white;
      padding-top: 5px;
    }

    .logo-container {
      display: inline-flex;
      height: 50px;
      width: 50px;
      
      svg {
        width: 100%;
      }
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding-top: 20px;
    padding-right: 10px;

    .option {
      color:white;
      padding: 10px 15px;
    }

  }

}

@media only screen and (max-width: 800px) {
  .header {
    .store-name-logo {
      margin: 15px;
    }

    .options {
      .option {
        padding: 8px 8px;
      }
    }

  }
}

@media only screen and (max-width: 650px) {

  .header {
    display: inline-block;
    margin: auto;
    
    .store-name-logo {
      display: block;
      margin: auto;
      text-align: center;
      padding: 10px;

      .store-name {
        vertical-align: top;
        padding: 5px 10px;
        display: inline-block;
      }

    }

    .options {
      width: 100%;
      display: block;
      margin: auto;
      text-align: center;
      padding: 0px;
      border-top: 0.5px solid silver;

      .option {
        display: inline-block;
        padding-bottom: 10px;
      }
    }  
  }
}
@media only screen and (max-width: 340px) {
  .header {
    .options {
      .option {
        font-size: 14px;
        padding-bottom: 12px;
      }
    }
  }
}